@model DAL.Models.AspNetUser;

<style>
    .buy-button {
        font-size: 60px;
        background-color: white;
        color: black;
        text-decoration: none;
        border: 3px solid black;
        transition: background-color 0.3s, color 0.3s, text-decoration 0.3s;
        display: inline-block;
        padding: 10px;
        width: 460px;
        text-align : center;
    }

    .cart-icon {
        margin-right: 10px;
    }

    .buy-button:hover {
        background-color: black;
        color: white;
        text-decoration: underline;
    }

    .Go-Orders {
        font-size: 70px;
        background-color: white;
        color: black;
        text-decoration: none;
        display: inline-block;
        width: 460px;
        text-align: left;
        transition: text-align 3s, background-color 0.3s, color 0.3s, text-decoration 0.3s;
    }

        .Go-Orders:hover {
            text-decoration: underline;
        }
</style>
@{


<div style="margin-top: 100px; font-size:30px; color: black;">
    <a asp-action="Index" asp-controller="Order" id="goOrders">
        <div class="Go-Orders">Go to Orders</div>
    </a>
    <div class="row align-items-center">
        <div class="col-md-6">
            <div style="font-size:60px;"> Shopping List</div>
            <h1>Welcome @Model.Email</h1>
        </div>
        <div class="col-md-3 d-flex align-items-center">
            @{
                var totalPrice = Model.ShoppingLists.Sum(p => p.Product.Price * p.Quantity);
                string formattedTotalPrice = $"${totalPrice:N2}";
            }
            <div style="font-size:60px;">Total Price: @formattedTotalPrice</div>
        </div>
        <div class="col-md-3">
            <a asp-action="BuyAll" asp-controller="ShoppingList">
                <div class="buy-button">Buy All</div>
            </a>
        </div>
    </div>
    @foreach (var item in Model.ShoppingLists)
    {               
        <div class="row" style="border-top : 3px solid black">
                <div class="col-md-2 mt-3" style="padding: 0;">
                    <img src="data:image/jpeg;base64, @Convert.ToBase64String(item.Product.ProductType.Photos.FirstOrDefault().PhotoData)" class="d-block w-100">
                </div>
                <div class="col-md-3 mt-3" style="padding: 0;">
                    <h1>@item.Product.ProductType.ProductTypeName</h1>
                    <h2>Size: @item.Product.Size.SizeName</h2>
                    <h2>Material: @item.Product.Material.MaterialName</h2>
                    @if (item.Product.StoneWeight != null)
                    {
                        <h2>Stone Weight: @item.Product.StoneWeight.StonesWeights</h2>
                    }
                    @if (item.Product.PreciousStone != null)
                    {
                        <h2>Precious Stone: @item.Product.PreciousStone.PreciousStoneName</h2>
                        }
                    <h2>Quantity: @item.Quantity</h2>
                    @{
                        var price = item.Product.Price * item.Quantity;
                        string formattedPrice = $"${price:N2}";
                    }
                    <h2>Price: @formattedPrice</h2>
                </div>
                <div class="col-md-4 mt-3">
                </div>
                <div class="col-md-3 mt-3" >
                    <form asp-action="Delete">
                        <input type="hidden" name="shoppingListId" value="@item.ShoppingListId" />
                        <input type="submit" value="Delete" class="buy-button" style="width: 260px; font-size: 30px;" />
                    </form>
                </div>
        </div>
    }
</div>
}

